$h1font: white;

@mixin redBorder {
    border: 1px solid red;
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url('../images/background.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255 239 215);
    h1 {
        width: 100vw;
        text-align: center;
        color: $h1font;
        padding: 4vw;
        font-size: 3rem;
    }
}


#all-projects {
    // @include redBorder();
    display: flex;
    flex-direction: column;
    width: 20vw;
    button {
        padding: 10px;
        width: 15vw;
        margin: 10px;
        
    }
}

#all-todos {
    // @include redBorder();
    width: 70vw;
    input {
        width: 50%;
        font-size: 1.1rem;
        padding: 5px 15px;
        border-radius: 20px;
        margin-bottom: 20px;
        &:focus {
            outline: none;
        }
    }
    .to-do-item {
        // @include redBorder();
        display: flex;
        // justify-content: baseline;
        font-size: 1.3rem;
        .check-mark {
            height: 15px;
            aspect-ratio: 1;
            align-self: center;
            margin-right: 10px;
        }
    }
}
.check {
    .check-mark {
        background-color: rgb(167, 167, 255);
        border: 1px solid black;
        border-radius: 2px;
    }
    .to-do {
        text-decoration: line-through;
        text-decoration-color: rgba(73, 71, 71, 0.582);
        text-decoration-thickness: 2px;
    }
}