$h1font: rgb(255, 29, 168);
@mixin flex($justify,$align) {
    display: flex;
    justify-content: $justify;
    align-items: $align;
}
@mixin redBorder {
    border: 1px solid red;
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body {

    display: flex;
    // justify-content: ;
    flex-wrap: wrap;
    // background-image: url('../images/background.svg');
    margin-bottom: 50px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: rgb(255 239 215);
    font-family: monospace;
    h1 {
        width: 100vw;
        text-align: center;
        color: $h1font;
        padding: 4vw;
        font-size: 3rem;
    }
}


#all-projects {
    // @include redBorder();
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    margin-right: 50px;
    border-right: 5px solid rgba(255, 184, 184, 0.555);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-right: 20px;
    &:hover {
        border-color: rgb(250, 138, 138);
    }
    & > button {
        padding: 10px;
        width: max(15vw, 10rem);
        margin: 10px;
        background-color: rgb(148, 158, 250);
        color: rgb(255, 255, 255);
        font-weight: 700;
        border: none;
        border-radius: 10px;
        font-size: 16px;
        position: relative;
        &:hover {
            outline: 2px solid rgb(255, 255, 255);
            filter: hue-rotate(15deg);
        }
        span {
            position: absolute;
            right: -40px;
            bottom: 4px;
            font-size: 25px;
            background-color: rgb(179, 208, 250);
            border-radius: 50%;
            aspect-ratio: 1 / 1;
            height: 30px;
            display: none;
            border: 1px solid rgb(255, 255, 255);
            &:hover {
                filter: brightness(150%);
                color: black;
                border: 1px solid rgb(100, 100, 100);
            }
        }
      }
      & > div {
        font-size: 25px;
        width: 100%;
        height: 40px;
        padding: 10px;
        margin-left: 20px;
        @include flex(space-between, baseline);
        // @include redBorder();
        div {
          display: inline-block;
          span {
            cursor: pointer;
          }
        }
        img {
          height: 15px;
        }
      }
    #default-project{
        background-color: rgb(255 117 141); 
        outline: 2px solid white; 
        box-shadow: 0 0 10px #ff06ff;
    }
}
#all-todos {
    // @include redBorder();
    width: 70vw;
    background-color: rgb(177, 184, 248);
    border-radius: 15px;
    padding-bottom: 3em;
    position: relative;
    form {
        font-size: 1.1rem;
        margin-bottom: 50px;
        @include flex(space-around, center);
        #task-input {
            width: 50%;
            font-size: 1.1rem;
            padding: 5px 15px;
            border-radius: 20px;
            margin-bottom: 12px;
            margin-top: 12px;
            margin-left: 15px;
            border: 1px solid rgb(182, 179, 179);
            &:focus {
                outline: none;
            }
        }
        #date-input{
            font-size: 1.1rem;
            border: none;
            padding: 2px 5px;
            color: grey;
            border-radius: 5px;
            &:focus {
                outline: 2px solid black;
            }
        } 
        #add-todo {
            font-size: 21px;
            aspect-ratio: 1;
            position: relative;
            top: 3px;
            padding: 0 5px 2px;
            margin-left: 5px;
            // border: 1px solid black;
            border: none;
            box-shadow: 0 0 2px rgb(190, 132, 132);
            border-radius: 5px;
            color: rgb(96, 163, 175);
            background-color: rgb(255, 255, 255);
            &:hover {
                // color: rgb(206, 106, 122);
                box-shadow: 0 0 4px rgb(236, 144, 144);
            }
        }
        #priority-btn {
            display: inline-block;
            background-color: rgb(143, 140, 140);
            padding: 4px 15px;
            border-radius: 10px;
            color: white;
            border: 2px solid white;
            cursor: pointer;
            user-select: none;
            &:hover{
                filter: brightness(110%);
                outline: 1px solid rgb(196, 195, 195);
            }
        }
    }
    .to-do-item {
        // @include redBorder();
        @include flex(space-between, center);
        font-size: 1.3rem;
        background-color: rgb(255, 208, 208);
        border-radius: 10px;
        padding: 15px;
        margin: 20px auto;
        width: max(20em, 800px);
        transition: scale 0.1s ease;
        &:hover {
            scale: 1.02;
            background-color: pink;
        }
        & div:first-child:not(.delete-task) {
            // @include redBorder();
            @include flex(start, baseline)
        }
        .to-do {
            width: 400px;
        }
        .check-mark {
            height: 15px;
            aspect-ratio: 1;
            margin-right: 10px;
        }
        .date {
            flex-basis: 115px;
        }
        .trash-icon {
            height: 35px;
            padding: 5px;
            background-color: rgb(250, 134, 134);
            border: 1px solid white;
            border-radius: 5px;
            &:hover {
                filter: saturate(150%);
            }
        }
        .delete-task {
            display: inline-block;
        }       
    }
    #tasks-score {
        position: absolute;
        bottom: 0;
        padding: 10px;
        background-color: #f5e3e3e0;
        width: 100%;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        font-size: 17px;
    }
}
.check {
    .check-mark {
        background-color: rgb(167, 167, 255);
        border: 1px solid black;
        border-radius: 2px;
    }
    .to-do {
        text-decoration: line-through;
        text-decoration-color: rgba(73, 71, 71, 0.582);
        text-decoration-thickness: 2px;
    }
}