$h1font: white;

@mixin redBorder {
    border: 1px solid red;
}
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
body {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    background-image: url('../images/background.svg');
    background-size: cover;
    h1 {
        width: 100vw;
        text-align: center;
        color: $h1font;
        padding: 5vw;
        font-size: 3vmax;
    }
}


#all-projects {
    @include redBorder();
    display: flex;
    flex-direction: column;
    width: 20vw;
    button {
        padding: 10px;
        width: 15vw;
        margin: 10px;
        
    }
}

#all-todos {
    @include redBorder();
    width: 70vw;
    input {
        width: 50%;
        font-size: 1.1rem;
        padding: 5px 15px;
        border-radius: 20px;
        &:focus {
            outline: none;
        }
    }
}